@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Montserrat&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-transition: all 100ms ease-in;
}

body {
    background: #0e0e09;
}

.hny {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 110px;
    font-weight: 700;
    color: #ebba19;
    text-align: center;
    position: absolute;
    top: 45%;
    opacity: 0;
    animation: c_hny 2s ease-in-out 7s forwards;
}

.years {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 120px 100px 0px 0px;
}

.years > span {
    font-size: 175px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #a7afbb;
}

span.one {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -200px;
    animation: b_2021 5s ease-in-out 5s forwards;
}

span.two {
    position: absolute;
    right: 0%;
    margin-right: -220px;
    animation: c_2022 6s ease-in-out forwards;
}

span.two::before {
    content: '';
    width: 0px;
    height: 6px;
    display: block;
    border-radius: 3px;
    background: #8496e7;
    transform: rotate(0deg);
    transform-origin: left top;
    position: absolute;
    top: 55px;
    left: 10px;
    z-index: -1;
    animation: c_balloon 1s ease-in-out 4s;

}

.balloon {
    width: 100px;
    height: 100px;
    display: block;
    background: #e7713d;
    border-radius:50% ;
    position: absolute;
    top: 50%;
    margin-top: -165px;
    right: 0%;
    margin-right: -200px;
    animation: b_balloon 10s ease-in-out forwards;
}

.balloon::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #b19b32 transparent ;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -10px;
    z-index: -1;
}

.balloon::after {
    content: '';
    width: 4px;
    height: 100px;
    display: block;
    background: #fff;
    border-radius: 0px 0px 3px 3px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: -110px;
}

.fireworks {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.fireworks>div {
    border: 2px solid #fff;
    position: absolute;
    opacity: 0;
    animation: drop_fireworks 1.5s ease-in-out 8s forwards;
}
.fireworks>div.f1 {
    left: 20%;
    top: 40%;
}
.fireworks>div.f2 {
    left: 15%;
    top: 70%;
}
.fireworks>div.f3 {
    right: 20%;
    top: 40%;
}
.fireworks>div.f4 {
    right: 15%;
    top: 70%;
}

.fireworks>div span {
    width: 6px;
    height: 6px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: bursts_fireworks 0.5s ease-in-out 9s forwards;
}

.fireworks>div span:nth-child(1) {
    transform: rotate(0deg);
}
.fireworks>div span:nth-child(2) {
    transform: rotate(120deg);
}
.fireworks>div span:nth-child(3) {
    transform: rotate(240deg);
}

.fireworks>div span::before {
    content: '';
    width: 2px;
    height: 50px;
    display: block;
    background: #f50612;
    position: absolute;
    top: -60px;
    left: 2px;
}
.fireworks>div span::after {
    content: '';
    width: 2px;
    height: 50px;
    display: block;
    background: #f5cc06;
    position: absolute;
    bottom: -60px;
    left: 2px;
}
.fireworks>div span i::before {
    content: '';
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15px;
    left: 10px;
}

.fireworks>div span i::after {
    content: '';
    width: 3px;
    height: 3px;
    display: block;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15px;
    right: 10px;
}



@keyframes c_2022 {
    0% {
        right: 0%;
    }
    66.6666% {
        right: 50%;
        margin-right: -300px;
    }
    90% {
        right: 50%;
        margin-right: -300px;
    }
    100% {
        right: 50%;
    }
  
  
  }
  
  @keyframes b_balloon {
    0%{
        right: 0%;
    }
    40% {
        right: 50%;
        margin-right: -300px;
    }
    50% {
        right: 50%;
        margin-right: -200px;
        top: 50%;
    }
    100% {
        top: -100%;
        right: 50%;
    }
  }
  
  @keyframes c_balloon {
    0%{
        transform: rotate(-30deg);
        width: 40px;
    }
    100% {
        transform: rotate(-150deg);
        width: 70px;
    }
  }
  
  @keyframes b_2021 {
    0% {
        top: 50%;
    }
    100% {
        top: -100%;
    }
  }
  
  @keyframes c_hny {
    0% {
        margin-top: 0px;
        opacity: 0;
    }
    100% {
        margin-top: -200px;
        opacity: 1;
    }
  }
  
  @keyframes drop_fireworks {
    0%{
        margin-top: 100%;
        opacity: 0;
        width: 2px;
        height: 30px;
        display: block;
        border-radius: 50%;
    }
    75% {
        margin-top: 0%;
        opacity: 1;
        width: 2px;
        height: 30px;
        display: block;
        border-radius: 50%;
    }
  
    80% {
        margin-top: 0px;
        margin-left: 0px;
        opacity: 1;
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
        transform: scale(0.2);
    }
    100% {
        opacity: 1;
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
        transform: scale(1);
    }
  }
  
  @keyframes bursts_fireworks {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
